---
# frontmatter for main.scss, just the dashes needed
---
@import "minima";

.easy {
    background-color: #9f6;
    padding: 1px;
}

.medium {
    background-color: #ff6;
    padding: 1px;
}

.hard {
    background-color: #f33;
    padding: 1px;
}

#markdown-toc {
    list-style-type: none;
    li {
        margin-bottom: 0.5em;
        ul {
            list-style-type: disc;
        }
    }
}
