---
# frontmatter for main.scss, just the dashes needed
---
@import "minima";

.easy {
    background-color: #9f6;
    padding: 1px;
}

.medium {
    background-color: #ff6;
    padding: 1px;
}

.hard {
    background-color: #f33;
    padding: 1px;
}

